[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
[submodule "config/zgen"]
	path = config/zgen
	url = https://github.com/tarjoilija/zgen.git
[submodule "apps/PathPicker"]
	path = apps/PathPicker
	url = https://github.com/facebook/PathPicker.git
[submodule "vendor/fzf"]
	path = vendor/fzf
	url = https://github.com/junegunn/fzf.git
[submodule "vendor/nvm"]
	path = vendor/nvm
	url = https://github.com/creationix/nvm.git
