[color]
	ui = auto
[core]
	editor = emacsclient
[diff]
	renames = copies
[user]
	name = Joe Schafer
	email = joe@jschaf.com
[push]
	default = simple
[merge]
	stat = true
[credential]
	helper = cache --timeout=172800