.DS_Store
.tramp_history

# IntelliJ Work templates that are symlinked here.
/intellij/templates/*Work.xml
/.idea/

# Bazel
/bazel-testlogs
/bazel-genfiles
/bazel-out
/bazel-bin
/bazel-.dotfiles

# Emacs
*.elc
/emacs/backups/
/emacs/flycheck_start.el
/emacs/transient/history.el
/emacs.d/.cache
/emacs.d/auto-save-list
/layers/else/local/

# Go files
/go/bin
/go/pkg
