XTerm*faceName: Consolas
XTerm*faceSize: 13
XTerm*loginShell: true
XTerm*multiscroll: true	
XTerm*foreground: gray90
XTerm*background: #222222
XTerm*cursorBlink: True
XTerm*cursorOffTime: 500
XTerm*cursorOnTime: 500
XTerm*cursorColor: rgb:00/80/00
XTerm*borderColor: white
XTerm*scrollColor: black
XTerm*highlightColor: #386466
XTerm*highlightSelection: true
XTerm*visualBell: false
XTerm*saveLines: 1000
XTerm*metaSendsEscape: true
XTerm*internalBorder:  4
!black
XTerm*color0: black
!red3
XTerm*color1: red3
!green3
XTerm*color2: green3
!yellow3
XTerm*color3: yellow3
!DodgerBlue1
XTerm*color4: DodgerBlue1
!magenta3
XTerm*color5: magenta3
!cyan3
XTerm*color6: cyan3
!gray90
XTerm*color7: gray90
!gray50
XTerm*color8: gray50
!red
XTerm*color9: red
!green
XTerm*color10: green
!yellow
XTerm*color11: yellow
!blue
XTerm*color12: skyblue3
!magenta
XTerm*color13: magenta
!cyan
XTerm*color14: cyan
!white
XTerm*color15: white
!yellow
XTerm*colorUL: yellow
!white
XTerm*colorBD: white

Xft.autohint: 0
Xft.lcdfilter:  lcddefault
Xft.hintstyle:  hintfull
Xft.hinting: 1
Xft.antialias: 1
Xft.dpi: 96
Xft.rgba: rgb

Xcursor.theme: whiteglass
