XTerm*termname: xterm-color
XTerm*faceName: Consolas
XTerm*faceSize: 12
XTerm*loginShell: true
XTerm*multiscroll: true
XTerm*foreground: gray90
XTerm*background: gray12
XTerm*cursorBlink: True
XTerm*cursorOffTime: 500
XTerm*cursorOnTime: 500
XTerm*cursorColor: #6ccc6c
XTerm*borderColor: white
XTerm*scrollColor: black
XTerm*highlightColor: #386466
XTerm*highlightSelection: true
XTerm*visualBell: false
XTerm*saveLines: 1000
XTerm*metaSendsEscape: true
XTerm*internalBorder:  4

Xft.autohint: 0
Xft.lcdfilter:  lcddefault
Xft.hintstyle:  hintfull
Xft.hinting: 1
Xft.antialias: 1
Xft.dpi: 96
Xft.rgba: rgb

Xcursor.theme: Oxygen_Oxygen

URxvt.perl-lib: ~/.urxvt-perls
URxvt.perl-ext: default,matcher,clipboard,url-select
URxvt.keysym.M-c:   perl:clipboard:copy
URxvt.keysym.M-v:   perl:clipboard:paste
URxvt.keysym.M-C-v: perl:clipboard:paste_escaped

URxvt*font: xft:Consolas-13:antialias=true
URxvt*scrollBar: false
URxvt*buffered: true
URxvt*cursorColor: green
URxvt*saveLines: 8192

URxvt.urlLauncher: /usr/bin/google-chrome
URxvt.matcher.button: 1
URxvt.keysym.M-u:    perl:url-select:select_next
URxvt.url-select.launcher:   /usr/bin/google-chrome
URxvt.url-select.underline: true

!!! Terminal Colors

*foreground: gray90
*background: gray12

! Black + DarkGrey
*color0: black
*color8: #586363

! DarkRed + Red
*color1: orange red
*color9: salmon3

! DarkGreen + Green
*color2: #6ccc6c
*color10: green

! DarkYellow + Yellow
*color3: goldenrod
*color11: goldenrod

! DarkBlue + Blue
*color4: skyblue3
*color12: skyblue3

! DarkMangenta + Mangenta
*color5: magenta3
*color13: magenta

!DarkCyan + Cyan (both not tango)
*color6: cyan3
*color14: cyan

! LightGrey + White
*color7: gray90
*color15: #cecece
