:inoremap jk <Esc>
:inoremap kj <Esc>
:xnoremap jk <Esc>
:xnoremap kj <Esc>

" Reload .ideavimrc
nnoremap <Space>feR :source ~/.ideavimrc<CR>


noremap <C-j> gj<C-e>
noremap <C-k> gk<C-y>

noremap J 5j
noremap K 5k

noremap H ^
noremap L $


noremap <Space>fs :w<CR>

nnoremap <Space>fr :action RecentChangedFiles<CR>

" Project Commands
nnoremap <space>pf :action GotoFile<cr>
nnoremap <space>pc :action GotoClass<cr>


" Window Commands
nnoremap <space>w/ :vsplit<cr>
nnoremap <space>w- :split<cr>
nnoremap <space>wm <C-w>o
nnoremap <space>wc :close<cr>