XTerm*termname: xterm-color
XTerm*faceName: Consolas
XTerm*faceSize: 12
XTerm*loginShell: true
XTerm*multiscroll: true
XTerm*scrollColor: black
XTerm*highlightColor: #386466
XTerm*highlightSelection: true
XTerm*visualBell: false
XTerm*saveLines: 1000
XTerm*metaSendsEscape: true
XTerm*internalBorder:  4

URxvt.perl-lib: ~/.urxvt-perls
URxvt.perl-ext: default,matcher,clipboard,url-select
URxvt.keysym.Shift-Control-C:   perl:clipboard:copy
URxvt.keysym.Shift-Control-V:   perl:clipboard:paste

URxvt.font: xft:Consolas:pixelsize=18:antialias=true:hinting=true,xft:Inconsolata for Powerline:pixelsize=18:antialias=true:hinting=true,xft:DejaVu Sans Mono:pixelsize=18:antialias=true:hinting=true,xft:Fira Mono:pixelsize=18:antialias=true:hinting=true
URxvt.letterSpace: -1
URxvt.scrollBar: false
URxvt.saveLines: 8192

URxvt.urlLauncher: /usr/bin/google-chrome-stable
URxvt.matcher.button: 1
URxvt.keysym.M-u:    perl:url-select:select_next
URxvt.url-select.launcher:   /usr/bin/google-chrome
URxvt.url-select.underline: true

URxvt*loginShell: true

URxvt.keysym.Shift-Up:          \033[1;2A
URxvt.keysym.Shift-Down:        \033[1;2B
URxvt.keysym.Shift-Right:       \033[1;2C
URxvt.keysym.Shift-Left:        \033[1;2D
URxvt.keysym.Control-b:         \002
URxvt.keysym.Control-c:         \003
URxvt.keysym.Control-r:         \022
URxvt.keysym.Control-v:         \026
URxvt.keysym.Control-Up:        \033[1;5A

URxvt.keysym.Control-Left:      \033[1;5D
URxvt.keysym.Control-Right:     \033[1;5C
URxvt.keysym.Control-Page_Up:   \033[5;5~
URxvt.keysym.Control-Page_Down: \033[6;5~

!! Disable Picture Insert Mode
!! https://www.reddit.com/r/urxvt/comments/35x03n 
URxvt.iso14755: false
URxvt.iso14755_52: false

! To only apply colors to your terminal, for example, prefix
! the color assignment statement with its name. Example:
!
! URxvt*background:            S_base03


! Apparently, URxvt just reads this file without using the C preprocessor, so
! the defines from the official Solarized .Xresources
! http://unix.stackexchange.com/questions/104895
*background:              #002b36
*foreground:              #839496
*fading:                  0
*fadeColor:               #002b36
*cursorColor:             #93a1a1
*pointerColorBackground:  #586e75
*pointerColorForeground:  #93a1a1

*color0:                  #073642
*color1:                  #dc322f
*color2:                  #859900
*color3:                  #b58900
*color4:                  #268bd2
*color5:                  #d33682
*color6:                  #2aa198
*color7:                  #eee8d5
*color9:                  #cb4b16
*color8:                  #002b36
*color10:                 #586e75
*color11:                 #657b83
*color12:                 #839496
*color13:                 #6c71c4
*color14:                 #93a1a1
*color15:                 #fdf6e3
