<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Disabled</key>
	<false/>
	<key>Label</key>
	<string>gpg.agent.daemon</string>
	<key>ProgramArguments</key>
	<array>
		<string>/usr/local/bin/gpg-agent</string>
		<string>--daemon</string>
		<string>--options</string>
		<string>/Users/joe/.gnupg/gpg-agent.conf</string>
		<string>--debug-all</string>
		<string>--enable-ssh-support</string>
		<string>--write-env-file</string>
		<string>/Users/joe/.gnupg/gpg-agent-info</string>
	</array>
	<key>RunAtLoad</key>
	<true/>
	<key>Sockets</key>
	<dict>
		<key>Listeners</key>
		<dict>
			<key>SecureSocketWithKey</key>
			<string>SSH_AUTH_SOCK</string>
		</dict>
	</dict>
	<key>StandardErrorPath</key>
	<string>/Users/joe/Library/Logs/gpg.agent.daemon.error.log</string>
	<key>StandardOutPath</key>
	<string>/Users/joe/Library/Logs/gpg.agent.daemon.stdout.log</string>
	<key>Umask</key>
	<integer>63</integer>
</dict>
</plist>
